/*
This is a comment.
About colors.
I like this shade of light blue: #d1ebff
and this one: #B0CDFA
Primary blue: #266EE1
*/

:root {
  /* Colors */

  /* Font styles */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7fbff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

a {
  color: #266ee1;

  /* CSS transition */
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.contact-info {
  text-align: center;
}

form#contact-form * {
  width: 100%;
}

a:visited {
  color: #2626e0;
}

a:hover,
a:focus {
  /* no underlining when hovering over link */
  text-decoration: none;
}

a:active {
  color: #e02626;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #266ee1;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 10px;

  /* rounded corners */
  border-radius: 5px;
  border-bottom: 2px solid rgba(38, 38, 224, 0.3);
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #266ee1;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 10px;

  /* rounded corners */
  border-radius: 5px;
  border-bottom: 2px solid rgba(38, 38, 224, 0.3);
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__container {
  text-align: center;
  margin-top: 1em;
}

.button_secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #d3d3d3;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header :last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header__logo {
  width: 250px;
  height: auto;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 2em;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  max-width: 700px;
  margin: 5em auto;
  position: relative;
  padding: 0 0.5em;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/* Grid fallbacks */

.grid__item {
  display: inline-block;
  width: 33%;
}

/* CSS grid styling */

.grid-section {
  padding: 0 1em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: #d3d3d3;
  padding: 10px;
  width: auto;
}

/* Flexbox footer */

.page-footer {
  clear: both;
  width: 100%;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.page-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.page-footer-special {
  padding-top: 10em;
}

/* CSS animations */

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun,
#path18 {
  -webkit-animation: 8s color-change infinite alternate linear;
          animation: 8s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(500px, 50px);
            transform: translate(500px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(500px, 50px);
            transform: translate(500px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 24s cloud-move infinite alternate linear;
          animation: 24s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(346px, 48px);
            transform: translate(346px, 48px);
  }

  to {
    -webkit-transform: translate(0, 48px);
            transform: translate(0, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(346px, 48px);
            transform: translate(346px, 48px);
  }

  to {
    -webkit-transform: translate(0, 48px);
            transform: translate(0, 48px);
  }
}

.cloud-back {
  -webkit-animation: 30s cloud-move-reverse infinite alternate linear;
          animation: 30s cloud-move-reverse infinite alternate linear;
}

/* Media queries */

@media all and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .page-header__logo {
    width: 100px;
    height: auto;
  }

  svg {
    max-width: 95%;
    height: 400px;
  }

  .page-header__logo {
    max-width: 50%;
  }

  .profile__portrait {
    margin-right: 20px;
    max-width: 55%;
  }
}

@media all and (max-width: 500px) {
  .profile {
    padding: 0 0.5em;
    margin: 3em auto;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }

  .page-footer-special {
    padding-top: 0;
  }
}
