/*
This is a comment.
About colors.
I like this shade of light blue: #d1ebff
and this one: #B0CDFA
Primary blue: #266EE1
*/

:root {
  /* Colors */
  --primary-color: #266ee1;
  --light-blue: #d1ebff;
  --light-blue-2: #b0cdfa;
  --super-light-blue: #f7fbff;
  --visited-color: #2626e0;
  --active-color: #e02626;
  --button-secondary-back-color: #e0b354;
  --button-secondary-color: #2b2b2b;
  --grid-background-color: #d3d3d3;
  --sun-color-1: #edc655;
  --sun-color-2: #fcffad;
  --sun-color-3: #f76414;
  --button-font-color: #fff;
  --button-border-bottom: rgba(38, 38, 224, 0.3);
  --page-header-border-bottom-color: #d3d3d3;

  /* Font styles */
  --font-standard: 16px;
  --font-sans-serif-family: "Lato", sans-serif;
  --font-weight-standard: 400;
  --line-height-standard: 1.6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--super-light-blue);
  font-size: var(--font-standard);
  font-family: var(--font-sans-serif-family);
  font-weight: var(--font-weight-standard);
  line-height: var(--line-height-standard);
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

a {
  color: var(--primary-color);

  /* CSS transition */
  transition: 0.2s opacity;
}

.contact-info {
  text-align: center;
}

form#contact-form * {
  width: 100%;
}

a:visited {
  color: var(--visited-color);
}

a:hover,
a:focus {
  /* no underlining when hovering over link */
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  font-size: var(--font-standard);
  color: var(--button-font-color);
  text-decoration: none;
  padding: 10px;

  /* rounded corners */
  border-radius: 5px;
  border-bottom: 2px solid var(--button-border-bottom);
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__container {
  text-align: center;
  margin-top: 1em;
}

.button_secondary {
  background-color: var(--button-secondary-back-color);
  color: var(--button-secondary-color);
}

.page-header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--page-header-border-bottom-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header :last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__logo {
  width: 250px;
  height: auto;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 2em;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  max-width: 700px;
  margin: 5em auto;
  position: relative;
  padding: 0 0.5em;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/* Grid fallbacks */

.grid__item {
  display: inline-block;
  width: 33%;
}

/* CSS grid styling */

.grid-section {
  padding: 0 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-background-color);
  padding: 10px;
  width: auto;
}

/* Flexbox footer */

.page-footer {
  clear: both;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.page-footer__item {
  flex: 0 1 auto;
}

.page-footer-special {
  padding-top: 10em;
}

/* CSS animations */

@keyframes color-change {
  0% {
    fill: var(--sun-color-1);
  }

  50% {
    fill: var(--sun-color-2);
  }

  100% {
    fill: var(--sun-color-3);
  }
}

.sun,
#path18 {
  animation: 8s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(500px, 50px);
  }
}

.cloud-front {
  animation: 24s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(346px, 48px);
  }

  to {
    transform: translate(0, 48px);
  }
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}

/* Media queries */

@media all and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .page-header__logo {
    width: 100px;
    height: auto;
  }

  svg {
    max-width: 95%;
    height: 400px;
  }

  .page-header__logo {
    max-width: 50%;
  }

  .profile__portrait {
    margin-right: 20px;
    max-width: 55%;
  }
}

@media all and (max-width: 500px) {
  .profile {
    padding: 0 0.5em;
    margin: 3em auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }

  .page-footer-special {
    padding-top: 0;
  }
}
